

  <div class="contacts">
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3 pb-3 d-flex justify-content-center mx-0 px-0"
    >
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-secondary fw-bold">Store</li>
        </ul>
      </div>

      
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-secondary fw-bold">Contact</li>
          <li class="list-group-item"><a href="#">00763818893</a></li>
          <li class="list-group-item"><a href="#">douaezouak@gmail.com</a></li>
        </ul>
      </div>

     

      
    </div>
  </div>




  <hr />
  <p class="text-center">
    &copy; Desenvolvido por
    <a href="https://github.com/giselle-ferreira" target="_blank"
      >Giselle Ferreira</a
    >
  </p>

